node_modules
dist
artifacts
cache
typechain-types
*.tsbuildinfo
*.d.ts.map
*.js.map
.DS_Store
deployments/*.local.json
.env
.env.local
.env.*.local
scripts/deploy.d.ts
scripts/deploy.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
